@charset "UTF-8";
#title
{
	width:50%;
	height:150px;
	background-color:#ed201d;
	margin-left:25%;
	color:white;
}
#content
{
	width:50%;
	height:400px;
	background-color:#f5f5f5;
	margin-left:25%;
}
#footer
{
	width:50%;
	height:100px;
	background-color:#228CDB;
	margin-left:25%;
	color:white;
}